<!DOCTYPE html>
<html lang="en">
<head>
    <style>
h1 {
  color: blue;
  font-family: verdana, sans-serif;
  font-size: 300%;

}
p  {
  color: red;
  font-family: courier, sans-serif;
  font-size: 160%;
}





    </style>
    <title>Page Title</title>
    <meta http-equiv="refresh" content="1"/>
</head>
<body>

<h1 style="font-size:2.25rem;">My h1 heading </h1>
<h1>$Player1Name</h1>
<p></p>
<h2>$Player1Score</h2>
<p>This is a paragraph.</p>
<h3>AVG $AVG</h3>
<h3>MAX $MAX</h3>
<h3>MIN $MIN</h3>
<h3>HC $HC</h3>
<h3>100+ $100+</h3>
<h3>60+ $60+</h3>

<table>
    <thead>
    <tr>
        <th th:text="#{msgs.headers.name}">Name</th>
        <th th:text="#{msgs.headers.price}">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod: ${allProducts}">
        <td th:text="${prod.name}">Oranges</td>
        <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}">0.99</td>
    </tr>
    </tbody>
</table>
</body>
</html>
